* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}

:root {
  interpolate-size: allow-keywords;
  --main-bg-color: rgb(0, 41, 102);
  --main-text-color: #ffffff;
}

.global-container-page {
  max-width: 100vw;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  background: linear-gradient(to right, rgb(30, 184, 205), rgb(53, 77, 155));
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  padding-inline: 5%;

  .logo img {
    width: 65px;
  }

  ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    width: 65%;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      &:last-child {
        display: none;
      }

      a {
        font-weight: 500;
        text-decoration: none;
        color: var(--main-text-color);
        font-size: 25px;

        &:focus:not(:last-child) {
          font-weight: bold;
          width: min-content;
          border: none;
        }
        &:last-child {
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .navbar {
    padding-inline: 2.5%;
    ul {
      width: max-content;
      li {
        &:last-child {
          a {
            color: var(--main-text-color);
          }
          pointer-events: fill;
          display: flex;
        }
        &:not(:last-child) {
          display: none;
        }
      }
    }
  }
}

/* 
.sidebar li {
  width: 100%;
}

nav {
  background: linear-gradient(to right, rgb(30, 184, 205), rgb(53, 77, 155));
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
} */

/* FIRST PAGE */
.first-page {
  width: 100%;
  height: 120vh;
  background: var(--main-bg-color);
  padding-inline: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .sidebar {
    position: fixed;
    top: 65px;
    right: 2%;
    width: max-content;
    height: max-content;
    padding: 20px;
    z-index: 99;
    background: linear-gradient(to right, rgb(30, 184, 205), rgb(53, 77, 155));
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
      width: 200px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      li {
        list-style: none;
        text-align: left;
      }
      a {
        text-decoration: none;
        color: var(--main-text-color);
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: normal;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }
      .hr {
        width: 100%;
        height: 1.5px;
        background: whitesmoke;
        border: none;
        outline: none;
      }
    }
  }

  img {
    position: absolute;
    display: flex;
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 120%;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.show {
      opacity: 1;
    }
  }

  .bg-contrast {
    position: absolute;
    background: linear-gradient(
      to bottom,
      transparent 40%,
      rgb(0, 41, 102) 100%
    );
    /* z-index: 200; */
    width: 100%;
    height: 120vh;
  }

  .main-page {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    margin-bottom: 20px;
    transform: translateY(200px);
    transition: all 1s ease-in-out;

    &.show {
      opacity: 1;
      transform: translateY(0);
    }

    h1 {
      font-size: 6em;
      font-weight: 900;
      color: var(--main-text-color);
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
    }
    p {
      color: var(--main-text-color);
      font-size: 22px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      span {
        margin-block: 5px;
      }
    }
  }
}

/* SECOND PAGE */
.second-page {
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10%;

  .text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: max-content;
    opacity: 0;
    scale: 0;

    &.show {
      animation: showCuteText 1s forwards;
    }

    p {
      text-align: center;
      font-weight: 500;
      font-size: 25px;
      color: var(--main-text-color);
    }
  }
}

@keyframes showCuteText {
  25% {
    opacity: 0;
    scale: 50%;
  }

  50% {
    opacity: 0.5;
    scale: 110%;
  }

  100% {
    opacity: 1;
    scale: 100%;
  }
}
@media (max-width: 1024px) {
  .main-page {
    h1 {
      span {
        font-size: 2.5rem;
      }
    }
    p {
      span {
        font-size: 1rem;
      }
    }
  }

  .second-page {
    flex-direction: column;
    padding-inline: 10%;
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;

    .text-content {
      width: 100%;
      p {
        font-size: 15px;
        line-height: 1.6;
      }
    }
  }

  .fourth-page {
    .title {
      h1 span {
        font-size: 2rem;
      }
      p span {
        font-size: 1rem;
      }
    }
  }
}

.third-page {
  position: relative;
  width: 100%;
  height: 200vh;
  background-color: var(--main-bg-color);
  padding-inline: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1 {
    font-size: 3em;
    color: var(--main-text-color);
    margin-bottom: 50px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease-in-out;
    
    &.show {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  > img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    bottom: 0;
  }

  .box-content {
    display: flex;
    justify-content: space-around;

    .box {
      width: 37.5%;
      height: auto;
      border-radius: 30px;
      background: linear-gradient(
        rgba(115, 115, 115, 0) 0%,
        rgba(30, 184, 205, 0.3) 100%
      );
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem;
      opacity: 0;
      transform: translateY(200px);
      transition: all 1s ease-out;

      &.active {
        transform: translateY(0px);
        opacity: 1;
      }

      img {
        width: 40%;
      }

      h1 {
        text-align: center;
        margin-block: 2em;
        font-size: 2rem;
        color: var(--main-text-color);
      }

      p {
        color: var(--main-text-color);
        text-align: justify;
        font-weight: 500;
        font-size: 1.25rem;
      }
    }
  }
}

@media (max-width: 1280px) {
  .third-page {
    padding-inline: 10%;
    height: 300vh; /* biarkan tinggi menyesuaikan isi */
    padding-bottom: 120px; /* beri ruang untuk elemen absolute .title */
    overflow: hidden;

    > h1 {
      font-size: 2em;
      text-align: center;
    }

    > img {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
      z-index: -1;
    }

    .box-content {
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      .box {
        width: 100%;
        padding: 2rem;
        border-radius: 20px;
        /* width: 400px; */

        img {
          width: 50%;
        }

        h1 {
          font-size: 1.5rem;
          margin-block: 1.5em;
        }

        p {
          font-size: 1rem;
          text-align: justify;
        }
      }
    }

    .title {
      position: relative;
      bottom: unset;
      margin-top: 1em;
      row-gap: 20px;

      h1 {
        font-size: 2em;
        transform: none !important;
      }

      p {
        font-size: 1.1em;

        span {
          display: block;
        }
      }
    }
  }
}

.fourth-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-inline: 10%;
  background-color: var(--main-bg-color);

  .title {
    display: flex;
    flex-direction: column;
    /* margin-top: 15em; */
    row-gap: 10px;
    text-align: center;
    color: var(--main-text-color);
    z-index: 5;
    
    h1 {
      background-color: red;
      font-size: 3em;
      transform: translateY(30px);

      &.show {
        transform: translateY(0);
      }
    }

    p {
      font-size: 1.5em;
      display: flex;
      flex-direction: column;
    }
  }

  > img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    transform: scale(-1, -1);
    width: 100%;
    height: 200vh;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .slider-content {
    z-index: 3;
    .first-content {
      .side-scroll {
        width: 100%;
        display: flex;
        gap: 100px;
        overflow-x: auto;
        justify-content: space-between;
      }
      .item {
        flex-shrink: 0;
        width: 15%;
        height: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .second-content {
      /* height: 100vh; */
      .side-scroll {
        width: 100%;
        display: flex;
        gap: 100px;
        overflow-x: auto;
        justify-content: space-between;
      }
      .item {
        flex-shrink: 0;
        width: 15%;
        height: 100%;
        /* background-radiuscolor: rgb(255, 255, 255); */

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .side-scroll::-webkit-scrollbar {
    display: none;
  }
  h1 {
    color: white;
    padding: 50px;
    font-size: 30px;
  }

  .yt-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 10em;
    h1 {
      font-size: 3em;
      text-transform: uppercase;
      color: var(--main-text-color);
      margin-block: 1em;
      z-index: 3;
      font-weight: 700;
    }
    iframe {
      z-index: 3;
      border-radius: 40px;
    }
  }
}
@media (max-width: 1280px) {
  .fourth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10%;
    height: auto; /* biarkan tinggi menyesuaikan isi */
    overflow: hidden;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > img {
      height: auto;
      transform: scale(-1, -1);
    }

    h1 {
      font-size: 1em;
      font-weight: 400;
      padding: 30px 0;
      text-align: start;
    }

    .slider-content {
      display: flex;
      flex-direction: column;
      gap: 4em;

      .first-content,
      .second-content {
        .side-scroll {
          gap: 20px;
        }

        .item {
          width: 40%; /* item lebih besar agar lebih mudah dilihat */
          scroll-snap-align: start;
        }
      }
    }

    .yt-frame {
      padding: 1em;
      margin-block: 5em;

      h1 {
        font-size: 1.75em;
        text-align: center;
      }

      iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        border-radius: 20px;
      }
    }
  }

  .side-scroll {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .side-scroll .item {
    scroll-snap-align: center;
  }
}

/* FIFTH */
.partner {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  padding-inline: 10%;
  width: 100%;
  height: 300vh;
  align-items: center;
  color: #ffffff;
  h1 {
    margin: 20px;
    padding: 20px;
    justify-items: start;
  }
  img {
    width: 70em;
  }
}

.partner .title {
  text-align: center;
  h1 {
    font-size: 3em;
    color: #ffffff;
  }
}

.bungkus {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  h1 {
    /* background: #ffffff; */
    font-size: 20px;

    &:first-child {
      width: 50%;
    }
    /* &:last-child {
      width: ;
    } */
  }
}
.flex {
  background: linear-gradient(to right, rgb(30, 184, 205), rgb(53, 77, 155));
  width: 100%;
  height: 10px;
}
@media (max-width: 1024px) {
  .partner {
    padding-inline: 5%;
    height: auto; /* biarkan tinggi menyesuaikan isi */
    align-items: center;
    text-align: center;

    img {
      width: 100%;
      height: auto;
      margin-block: 2rem;
    }

    h1 {
      font-size: 1.2em;
      margin: 10px 0;
      padding: 10px 0;
    }
  }

  .partner .title h1 {
    font-size: 2em;
  }

  .bungkus {
    flex-direction: column;
    /* align-items: center; */
    width: 100%;

    h1 {
      font-size: 1em;
      width: 100%;
      font-weight: 400;
    }
  }

  .flex {
    height: 6px;
    margin-bottom: 1rem;
  }
}
